@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap");

* {
  color: var(--white);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  font-size: clamp(9px, 1.5vw, 14px);
  list-style: none;
  letter-spacing: 3px;
}

:root {
  --black-02: #111111;
  --black-04: #232323;
  --black: #1e2022;
  --black-shadow: #11111133;
  --white: #c4c4c4;
}

a {
  text-decoration: none;
  transition: all 1s ease;
  position: relative;
  -moz-transition: all 1s ease;
  -webkit-transition: all 1s ease;
}

a:hover {
  filter: brightness(2);
  -webkit-filter: brightness(2);
  -moz-filter: brightness(2);
}

.not-anim:hover {
  filter: brightness(1);
  -webkit-filter: brightness(1);
  -moz-filter: brightness(1);
}

.anim::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 8%;
  height: 1px;
  background-color: var(--white);
  transition: all 1s ease;
  -moz-transition: all 1s ease;
  -webkit-transition: all 1s ease;
}

.anim:hover::after {
  width: 65%;
}

header {
  position: fixed;
  width: 100%;
  z-index: 998;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  gap: 2rem;
  background: var(--black);
  text-align: center;
  padding: 20px;
}

header ul {
  align-items: center;
  justify-content: center;
  list-style: none;
  text-transform: uppercase;

  display: flex;
  gap: 3rem;
  padding: 20px;
}

header nav {
  display: flex;
  justify-content: space-around;
}

#sidebar {
  height: 100vh;
  z-index: 2;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  right: 0;
  color: var(--white);
  background-color: var(--black-02);
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
}

.sidebar-enabled {
  width: 30vw;
}

.sidebar-disabled {
  width: 0;
}

#nav-list-sidebar {
  display: none;
  flex-direction: column;
}

#nav-list-sidebar li:hover {
  background-color: var(--white-opacity);
}

#nav-list-sidebar li:hover a {
  filter: brightness(2);
  -webkit-filter: brightness(2);
  -moz-filter: brightness(2);
}

#nav-list-sidebar li {
  width: 100%;
  padding: 40px;
}

#bar-sidebar {
  align-self: center;
  width: fit-content;
  background-color: #11111100;
  border: 0;
  padding: 10px;
}

#bar-sidebar-middle {
  border-top: 2px solid var(--white);
}

#bar-sidebar-middle::before,
#bar-sidebar-middle::after {
  content: "";
  display: block;
  width: 4.3vw;
  height: 2px;
  min-width: 35px;
  min-height: 1.67px;
  margin-top: 5px;
  background-color: var(--white);
  position: relative;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}

.bar-active #bar-sidebar-middle {
  border-top-color: transparent;
}

.bar-active #bar-sidebar-middle::before {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
}

.bar-active #bar-sidebar-middle::after {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  top: -7px;
}

main {
  padding-top: 25vh;
}

body {
  background-color: var(--black-04);
  width: 100%;
}

h1 {
  font-size: clamp(8px, 2vw, 45px);
  text-transform: uppercase;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  gap: 3.5rem;

  width: 45%;

  margin: auto;
  padding: 5vw 5vw;

  border: 3px solid var(--black-02);
  border-radius: 20px;
}

#buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  gap: 1.2rem;
}

#products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5rem;
}

#products section {
  display: flex;
  flex-direction: column;
  grid-template-columns: 1fr 1fr 1fr;
}

.input {
  background: none;
  border: 2px solid #cfcfcfea;
  border-radius: 2px;
  padding: 1vw;
}

.input:hover {
  filter: brightness(2);
  -webkit-filter: brightness(2);
  -moz-filter: brightness(2);
}

.button:active {
  background: var(--white);
}

.input:disabled {
  border: 2px solid #464646;
  color: #464646;
}

.input option {
  color: black;
}

em {
  font-weight: bold;
}

.result {
  text-align: center;
}

@media screen and (max-width: 768px) {
  #products {
    grid-template-columns: 1fr;
  }

  header ul {
    display: none;
  }
  #bar-sidebar {
    display: flex;
  }
  .container {
    width: 83%;
  }
  .sidebar-enabled {
    width: 60vw;
  }
  #buttons {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 769px) and (max-width: 1439px) {
  #products {
    grid-template-columns: 1fr 1fr;
  }
  header ul {
    display: none;
  }
  #bar-sidebar {
    display: flex;
  }
  .container {
    width: 80%;
  }

  .sidebar-enabled {
    width: 60vw;
  }
  #buttons {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 1024px) {
  #bar-sidebar {
    display: none;
  }
}
